.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fcf8e3;
  height: 150px;
  padding: 20px;
  color: orange;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.MasterNode {
  border: 1px solid gray;
}

.MasterNode-header {
  width: 100%;
  overflow: auto;
}

.MasterNode-label0 {
  font-size: 2.5em;
  float: left;
}

.MasterNode-connected {
  float: left;
  margin: 10px;
}

.MasterNode-label1 {
  display: block;
}



.LightNode {
  border: 1px solid gray;
  margin: 10px;
}

.LightNode-label0 {
  font-size: 2.5em;
}
.LightNode-connected {
  margin: 10px;
}

.LightNode-label1 {
  display: block;
}


.ObjectProperty-container {
  display: table;
  border-collapse: collapse;
}

.ObjectProperty-item {
  border: 1px solid #ddd;
  text-align: left;
  display: table-row;
}

.ObjectProperty-name {
  display: table-cell;
}

.ObjectProperty-value {
  display: table-cell;
}


.NotificationTable {
  height: 300px;
  overflow-y:auto;
  width: 100%;
  display:block;
}
